.pagethree {
    background-color: #f0eeef;
    padding: 2rem 0;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}