.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .hero {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: column;
    }

    .firstcol {
        text-align: left;
        margin: 2rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}