.imggroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    aspect-ratio: 16/9;
}

.desktop {
    display: none;
}

.imggroup>img:nth-of-type(1) {
    transform: translateX(4rem);
    z-index: 1;
}

.imggroup>img:nth-of-type(2) {
    transform: translateX(2rem);
    z-index: 2;
}

.imggroup>img:nth-of-type(3) {
    z-index: 3;
}

.imggroup>img:nth-of-type(4) {
    transform: translateX(-2rem);
    z-index: 2;
}

.imggroup>img:nth-of-type(5) {
    transform: translateX(-4rem);
    z-index: 1;
}

@media (min-width: 768px) {
    .imggroup {
        float: right;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .imggroup>img:nth-of-type(1) {
        width: 30%;
    }

    .imggroup>img:nth-of-type(2) {
        width: 40%;
    }

    .imggroup>img:nth-of-type(3) {
        width: 50%;
    }

    .imggroup>img:nth-of-type(4) {
        width: 40%;
    }

    .imggroup>img:nth-of-type(5) {
        width: 30%;
    }
}