.pagetwo {
    margin-top: -4rem;
    background: linear-gradient(180deg, #F9F0E5 -7.8%, rgba(249, 240, 229, 0.18) 38.6%, rgba(249, 240, 229, 0) 100%);
    padding: 4rem 0;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .pagetwo {
        padding: 8rem 0;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}