@font-face {
    font-family: 'Suisse-Intl-Mono';
    src: url(../../../../public/Suisse-Intl-Mono.ttf);
}

.revcloud {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px 1px #00000014;
    font-family: 'Suisse-Intl-Mono', sans-serif;
    border-radius: 0.5rem;
    color: #676869;
    padding: 1rem;
    width: 80%;
    gap: 1rem;
    margin-top: 4rem;
    background-color: white;
}

.name {
    font-size: 0.75rem;
    color: #676869;
}

.header {
    display: flex;
    color: #676869;
    gap: 1rem;
}

.desktop {
    display: none;
    position: relative;
}

.firstrow {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
}

.rating {
    display: flex;
}

.comment {
    color: #828282;
}

@media (min-width: 768px) {
    .revcloud {
        margin-top: 1rem;
        transform: translateY(20%);
    }

    .name {
        font-size: 1.5rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        font-size: 0.75rem;
    }
}