@font-face {
    font-family: 'Sofia-Pro';
    src: url(../../../../public/Sofia-Pro.ttf);
}

.title {
    text-align: center;
    font-family: 'Sofia-Pro', sans-serif;
    color: #01005B;
    font-size: 2rem;
    width: 50%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .title {
        text-align: left;
        margin-left: 2rem;
    }
}